n8n/exported.json
[{"updatedAt":"2026-05-26T11:31:27.118Z","createdAt":"2026-05-26T10:57:35.021Z","id":"Eu2b4gqacfEOjwIO","name":"Agente IA - Asesor de Joyería Gusmuss Diamond (Local Ollama)","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"public":true,"options":{}},"id":"5e683c5f-baa5-416c-8f06-326f79d5ae3a","name":"When chat message received","type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1,"position":[-144,304],"webhookId":"5e1e9e3a-2410-4d12-a29d-cda4862221b7"},{"parameters":{"agent":"reActAgent","text":"={{ $json.chatInput }}","options":{"prefix":"Eres un asistente virtual experto y exclusivo de 'Gusmuss Diamond'. Tu objetivo es recomendar las mejores joyas y prendas del catálogo. Utiliza la herramienta de búsqueda de productos para obtener datos en tiempo real.\n\nREGLA CRÍTICA DE BÚSQUEDA (OBLIGATORIA):\n- NUNCA inventes productos ni respondas de memoria.\n- Siempre que el usuario pregunte por productos, vestidos, joyas, ropa o precios, estás OBLIGADO a llamar a la herramienta 'buscarProductos' con una palabra de búsqueda en español (por ejemplo: 'vestido', 'sombrero', 'anillo', 'collar') para obtener los datos reales.\n- Si no usas la herramienta, tu respuesta se considerará incorrecta.\n\nIDIOMA Y TRADUCCIÓN:\n- Responde SIEMPRE en el mismo idioma en el que te hable el usuario. Si te habla en español, responde en español. Si te habla en inglés, responde en inglés.\n- Traduce los resultados de los productos al idioma del usuario. Usa 'nombre' y 'descripcion' si el usuario habla español, y usa 'nombreEn' y 'descripcionEn' si habla inglés.\n- Si recomiendas un producto, incluye siempre su precio formateado y el enlace en markdown de la siguiente manera: `[Ver producto](/producto/slug-del-producto)`."}},"id":"05f89889-dc10-4b25-a496-e3880468fee3","name":"AI Agent","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1,"position":[80,304]},{"parameters":{"model":"mistral:latest","options":{}},"id":"e13099b6-b237-4245-8e22-137456455007","name":"Ollama Chat Model","type":"@n8n/n8n-nodes-langchain.lmChatOllama","typeVersion":1,"position":[48,496],"credentials":{"ollamaApi":{"id":"MBmXJ9BAsyDfVc9m","name":"Ollama account"}}},{"parameters":{"url":"http://web/api/productos/buscar","sendQuery":true,"parametersQuery":{"values":[{}]}},"id":"e335bb9c-5108-4421-b98a-3781fe9ec9e3","name":"buscarProductos","type":"@n8n/n8n-nodes-langchain.toolHttpRequest","typeVersion":1,"position":[256,448]},{"parameters":{},"id":"b58395f4-3dc1-4a5d-b05e-cadbcfe62898","name":"Window Buffer Memory","type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1,"position":[176,144]}],"connections":{"Ollama Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"When chat message received":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"buscarProductos":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Window Buffer Memory":{"ai_memory":[[]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":false},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"be61fb28-feb7-4fc7-bc3f-dad7a035c360","activeVersionId":"be61fb28-feb7-4fc7-bc3f-dad7a035c360","versionCounter":27,"triggerCount":1,"tags":[],"shared":[{"updatedAt":"2026-05-26T10:57:35.022Z","createdAt":"2026-05-26T10:57:35.022Z","role":"workflow:owner","workflowId":"Eu2b4gqacfEOjwIO","projectId":"WBDsuq20klvrwUii","project":{"updatedAt":"2026-05-15T06:49:46.383Z","createdAt":"2026-04-20T17:03:07.764Z","id":"WBDsuq20klvrwUii","name":"Fran Jose <admin@gusmuss.com>","type":"personal","icon":null,"description":null,"creatorId":"46f44fa0-d1df-43d8-87c8-d269982fda6a"}}]}]