n8n/workflow-agente-ia.json
{
  "name": "Agente IA - Asesor de Joyería Gusmuss Diamond (Local Ollama)",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "id": "18f5d720-302a-4a5c-bf93-112392292b6b",
      "name": "When chat message received",
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1,
      "position": [
        380,
        240
      ]
    },
    {
      "parameters": {
        "agent": "reActAgent",
        "text": "={{ $json.chatInput }}",
        "options": {
          "prefix": "Eres un asistente virtual experto y exclusivo de 'Gusmuss Diamond'. Tu objetivo es recomendar las mejores joyas y prendas del catálogo. Utiliza la herramienta de búsqueda de productos para obtener datos en tiempo real.\n\nREGLA CRÍTICA DE BÚSQUEDA (OBLIGATORIA):\n- NUNCA inventes productos ni respondas de memoria.\n- Siempre que el usuario pregunte por productos, vestidos, joyas, ropa o precios, estás OBLIGADO a llamar a la herramienta 'buscarProductos' con una palabra de búsqueda en español (por ejemplo: 'vestido', 'sombrero', 'anillo', 'collar') para obtener los datos reales.\n- Si no usas la herramienta, tu respuesta se considerará incorrecta.\n\nIDIOMA Y TRADUCCIÓN:\n- Responde SIEMPRE en el mismo idioma en el que te hable el usuario. Si te habla en español, responde en español. Si te habla en inglés, responde en inglés.\n- Traduce los resultados de los productos al idioma del usuario. Usa 'nombre' y 'descripcion' si el usuario habla español, y usa 'nombreEn' y 'descripcionEn' si habla inglés.\n- Si recomiendas un producto, incluye siempre su precio formateado y el enlace en markdown de la siguiente manera: `[Ver producto](/producto/slug-del-producto)`."
        }
      },
      "id": "e44d32a0-402a-4a5c-bf93-112392292c7c",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1,
      "position": [
        600,
        240
      ]
    },
    {
      "parameters": {
        "model": "mistral:latest",
        "baseUrl": "http://host.docker.internal:11434"
      },
      "id": "c88f12a0-502a-4a5c-bf93-112392292d8d",
      "name": "Ollama Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        560,
        420
      ]
    },
    {
      "parameters": {
        "name": "buscarProductos",
        "description": "Busca productos en el catálogo de Gusmuss Diamond por texto. Devuelve el nombre, precio, material y slug del producto.",
        "url": "http://web/api/productos/buscar",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "q",
              "value": "={{ $parameter.query }}"
            }
          ]
        },
        "responseData": "all"
      },
      "id": "d99f12a0-602a-4a5c-bf93-112392292e9e",
      "name": "buscarProductos",
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1,
      "position": [
        780,
        380
      ]
    },
    {
      "parameters": {},
      "id": "f11a12a0-702a-4a5c-bf93-112392292f0f",
      "name": "Window Buffer Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1,
      "position": [
        700,
        80
      ]
    }
  ],
  "connections": {
    "Ollama Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "buscarProductos": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Window Buffer Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {},
  "versionId": "9148df07-d02e-4a5c-af93-112392292b6b",
  "meta": {
    "templateId": "gusmuss-jewelry-agent"
  }
}
